---
layout: base.njk
---
{% set t = i18n[lang] %}
{% set list = collections.postsEn if lang == "en" else collections.posts %}
{% set prevPost = list | getPreviousCollectionItem %}
{% set nextPost = list | getNextCollectionItem %}

<header>
<p><a href="{{ t.root }}">{{ section }}</a> &rarr; {{ chapter }}</p>
<p><em>{{ t.published }} {{ date | readableDate(t.locale) }}</em></p>
</header>

<article>
{{ content | safe }}
</article>

<hr>

<nav class="postnav">
  <div>{% if prevPost %}<span>{{ t.previous }}</span><a href="{{ prevPost.url }}">&larr; {{ prevPost.data.title }}</a>{% endif %}</div>
  <div>{% if nextPost %}<span>{{ t.next }}</span><a href="{{ nextPost.url }}">{{ nextPost.data.title }} &rarr;</a>{% endif %}</div>
</nav>

<p class="backlink"><a href="{{ t.root }}">{{ t.backlink }}</a></p>
