---
layout: base.njk
---
{% set prevPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

<header>
<p><a href="/">{{ section }}</a> &rarr; {{ chapter }}</p>
<p><em>Publié le {{ date | readableDate }}</em></p>
</header>

<article>
{{ content | safe }}
</article>

<hr>

<nav class="postnav">
  <div>{% if prevPost %}<span>Précédent</span><a href="{{ prevPost.url }}">&larr; {{ prevPost.data.title }}</a>{% endif %}</div>
  <div>{% if nextPost %}<span>Suivant</span><a href="{{ nextPost.url }}">{{ nextPost.data.title }} &rarr;</a>{% endif %}</div>
</nav>

<p class="backlink"><a href="/">Retour à la liste des articles</a></p>
