---
layout: base.njk
title: A propos
permalink: /about/
---
<p>Je m'appelle Emeric Braud, je suis développeur.</p>

<p>J'écris ici les enseignements de programmation tirés du développement de <a href="https://github.com/EmericBraud/chess26">Chess26</a>, un moteur d'échecs en C++23 : recherche alpha-bêta multithreadée, évaluation NNUE, bitboards, et le travail de mesure qui permet de savoir si une optimisation en est vraiment une.</p>

<p>Le code du moteur est ouvert : <a href="https://github.com/EmericBraud/chess26">github.com/EmericBraud/chess26</a>.</p>
