---
layout: base.njk
title: Mon Blog
permalink: /
---
<h2>Derniers articles</h2>

<ul>
{% for post in collections.posts | reverse %}
<li><a href="{{ post.url }}">{{ post.data.title }}</a> <em>({{ post.data.chapter }})</em></li>
{% endfor %}
</ul>

<p><a href="/posts/">Voir tous les articles par chapitre &rarr;</a></p>
